.row {
    height: 100%;
}

[class*="col"] {
    background-color: #ffc0cb;
    border: 1px solid black;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

[class*="col"] > .row {
    padding: 5px;
}

[class*="col"] > .row > [class*="col"] {
    background-color: #f07f80;
    border: 1px solid white;
    height: 100%; 
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}